*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-part1{
    display: flex;
    align-items: center;
    gap: 5px;
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    padding: 3px;
    border-radius: 50px;
    font-weight: 500;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    padding: 3px;
    border-radius: 50px;
    font-weight: 500;
}
#nav h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px;
}
#nav button{
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 50px;
    border: 1px solid #000;
    font-size: 16px;
}
#btn2{
    color: white;
    background-color: orangered;
    border: none;
}
#text{
    text-align: center;
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* white-space: nowrap; */
}

